<p>اختر تاريخ ميلادك (السنة، الشهر، اليوم).</p>

<div class="form-group">
  <label class="birthdate-label">سنة الميلاد:</label>
  <select class="birth-year-select" required>
    <option value="">اختر السنة</option>
  </select>
</div>

<div class="form-group">
  <label class="birthdate-label">شهر الميلاد:</label>
  <select class="birth-month-select" required>
    <option value="">اختر السنة أولا!</option>
  </select>
</div>

<div class="form-group">
  <label class="birthdate-label">يوم الميلاد:</label>
  <select class="birth-day-select" required>
    <option value="">اختر السنة أولا!</option>
  </select>
</div>