<p>اختر تاريخ ميلادك (السنة، الشهر، اليوم).</p>
<label for="birth-year-select">سنة الميلاد:</label>
<select id="birth-year-select" name="birth_year" required>
  <option value="">اختر السنة</option>
</select>
<br>
<label for="birth-month-select">شهر الميلاد:</label>
<select id="birth-month-select" name="birth_month" required>
  <option value="">اختر السنة أولا!</option>
</select>
<br>
<label for="birth-day-select">يوم الميلاد:</label>
<select id="birth-day-select" name="birth_day" required>
  <option value="">اختر السنة أولا!</option>
</select>